**/outputs2/**
**/outputs/**
logs
ldm_old
sample_logs
**/.log/**
*.log
dataset/lhq_256
LHQ256.zip
datasets
models
**/__pycache__/**
latent_diffusion.egg-info
taming_transformers.egg-info
taming
__MACOSX
**/.ipynb_checkpoints/**
